<div class="row">
  <div class="col-md-6">
    <div class="post">
      <img src="img/rails1.jpg" alt="">
      <div class="post-content">
        <h3>Lorem Ipsum</h3>
        <small>Posted by Raynald on Octover 24 2014</small>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse interdum sed odio bibendum facilisis. Praesent eu diam leo. Ut consectetur placerat felis at pellentesque. In vel dapibus risus. Integer turpis nulla, imperdiet id felis eget, imperdiet lacinia elit.</p>
        <a href="" class="btn btn-primary btn-block">Read More</a>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="post">
      <img src="img/rails1.jpg" alt="">
      <div class="post-content">
        <h3>Lorem Ipsum</h3>
        <small>Posted by Raynald on Octover 24 2014</small>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse interdum sed odio bibendum facilisis. Praesent eu diam leo. Ut consectetur placerat felis at pellentesque. In vel dapibus risus. Integer turpis nulla, imperdiet id felis eget, imperdiet lacinia elit.</p>
        <a href="" class="btn btn-primary btn-block">Read More</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="post">
      <img src="img/rails1.jpg" alt="">
      <div class="post-content">
        <h3>Lorem Ipsum</h3>
        <small>Posted by Raynald on Octover 24 2014</small>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse interdum sed odio bibendum facilisis. Praesent eu diam leo. Ut consectetur placerat felis at pellentesque. In vel dapibus risus. Integer turpis nulla, imperdiet id felis eget, imperdiet lacinia elit.</p>
        <a href="" class="btn btn-primary btn-block">Read More</a>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="post">
      <img src="img/rails1.jpg" alt="">
      <div class="post-content">
        <h3>Lorem Ipsum</h3>
        <small>Posted by Raynald on Octover 24 2014</small>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse interdum sed odio bibendum facilisis. Praesent eu diam leo. Ut consectetur placerat felis at pellentesque. In vel dapibus risus. Integer turpis nulla, imperdiet id felis eget, imperdiet lacinia elit.</p>
        <a href="" class="btn btn-primary btn-block">Read More</a>
      </div>
    </div>
  </div>
</div>
